<div class="modal-header" data-bs-theme="ligth">
  <h1 class="modal-title fs-5">Ajouter formation</h1>
  <button
    type="button"
    class="btn-close"
    aria-label="Close"
    (click)="activeModal.close()"
  ></button>
</div>
<div class="modal-body">
  <form
    [formGroup]="reactiveForm_add_formation"
    (ngSubmit)="onSubmit_add_formation()"
    #form_add_formation="ngForm"
    class="row"
  >
    <!-- Erreur : La clé étrangère id_utilisateur de la table formation n'est pas référencée -->
<div formArrayName="animateur">
  <div *ngFor="let ctrl of animateurArray.controls; let i = index" style="display: flex; align-items: center;">
    <ng-select
      [items]="animateursList"
      bindLabel="username"
      bindValue="id_utilisateur"
      [formControlName]="i"
      placeholder="Sélectionnez un animateur">
    </ng-select>
    <button type="button" (click)="addAnimateurField()" *ngIf="i === animateurArray.length - 1" style="margin-left: 5px;">+</button>
    <button type="button" (click)="removeAnimateurField(i)" *ngIf="animateurArray.length > 1" style="margin-left: 5px;">-</button>
  </div>
</div>
    <!-- Champ Domaine -->
    <div class="form-group col-sm-12">
      <label class="form-label" for="domaine">Domaine</label>
      <input
        id="domaine"
        class="form-control"
        type="text"
        formControlName="domaine"
        placeholder="Domaine"
        [ngClass]="{ 'is-invalid': submitted && f.domaine.errors }"
      />
      @if (submitted && f.domaine.errors) {
      <div class="invalid-feedback">
        @if (f.domaine.errors.required) {
        <div>Ce champ est obligatoire</div>
        }
      </div>
      }
    </div>

    <!-- Champ Intitule -->
    <div class="form-group col-sm-12">
      <label class="form-label" for="intitule">Intitule</label>
      <input
        id="intitule"
        class="form-control"
        type="text"
        formControlName="intitule"
        placeholder="Intitule"
        [ngClass]="{ 'is-invalid': submitted && f.intitule.errors }"
      />
      @if (submitted && f.intitule.errors) {
      <div class="invalid-feedback">
        @if (f.intitule.errors.required) {
        <div>Ce champ est obligatoire</div>
        }
      </div>
      }
    </div>

    <!-- Champ Lieu -->
    <div class="form-group col-sm-12">
      <label class="form-label" for="lieu">Lieu</label>
      <input
        id="lieu"
        class="form-control"
        type="text"
        formControlName="lieu"
        placeholder="Lieu"
        [ngClass]="{ 'is-invalid': submitted && f.lieu.errors }"
      />
      @if (submitted && f.lieu.errors) {
      <div class="invalid-feedback">
        @if (f.lieu.errors.required) {
        <div>Ce champ est obligatoire</div>
        }
      </div>
      }
    </div>

    <!-- Champ Date Debut -->
    <div class="form-group col-sm-12">
      <label class="form-label" for="date_debut">Date Debut</label>
      <input
        id="date_debut"
        class="form-control"
        type="date"
        formControlName="date_debut"
        placeholder="Date Debut"
        [ngClass]="{ 'is-invalid': submitted && f.date_debut.errors }"
      />
      @if (submitted && f.date_debut.errors) {
      <div class="invalid-feedback">
        @if (f.date_debut.errors.required) {
        <div>Ce champ est obligatoire</div>
        }
      </div>
      }
    </div>

    <!-- Champ Date Fin -->
    <div class="form-group col-sm-12">
      <label class="form-label" for="date_fin">Date Fin</label>
      <input
        id="date_fin"
        class="form-control"
        type="date"
        formControlName="date_fin"
        placeholder="Date Fin"
        [ngClass]="{ 'is-invalid': submitted && f.date_fin.errors }"
      />
      @if (submitted && f.date_fin.errors) {
      <div class="invalid-feedback">
        @if (f.date_fin.errors.required) {
        <div>Ce champ est obligatoire</div>
        }
      </div>
      }
    </div>

    <!-- Champ Duree -->
    <div class="form-group col-sm-12">
      <label class="form-label" for="duree">Duree</label>
      <input
        id="duree"
        class="form-control"
        type="text"
        formControlName="duree"
        placeholder="Duree"
        [ngClass]="{ 'is-invalid': submitted && f.duree.errors }"
      />
      @if (submitted && f.duree.errors) {
      <div class="invalid-feedback">
        @if (f.duree.errors.required) {
        <div>Ce champ est obligatoire</div>
        }
      </div>
      }
    </div>

    <!-- Champ Montant -->
    <div class="form-group col-sm-12">
      <label class="form-label" for="montant">Montant</label>
      <input
        id="montant"
        class="form-control"
        type="number"
        formControlName="montant"
        placeholder="Montant"
        [ngClass]="{ 'is-invalid': submitted && f.montant.errors }"
      />
      @if (submitted && f.montant.errors) {
      <div class="invalid-feedback">
        @if (f.montant.errors.required) {
        <div>Ce champ est obligatoire</div>
        }
      </div>
      }
    </div>

    <!-- Champ Type Formation -->
    <div class="form-group col-sm-12">
      <label class="form-label" for="type_formation">Type Formation</label>
      <input
        id="type_formation"
        class="form-control"
        type="text"
        formControlName="type_formation"
        placeholder="Type Formation"
        [ngClass]="{ 'is-invalid': submitted && f.type_formation.errors }"
      />
      @if (submitted && f.type_formation.errors) {
      <div class="invalid-feedback">
        @if (f.type_formation.errors.required) {
        <div>Ce champ est obligatoire</div>
        }
      </div>
      }
    </div>

    <!-- Champ Fiche Programme -->
    <div class="form-group col-sm-12">
      <label class="form-label" for="fiche_programme">Fiche Programme</label>
      <textarea
        id="fiche_programme"
        class="form-control"
        formControlName="fiche_programme"
        placeholder="Fiche Programme"
        rows="4"
        [ngClass]="{ 'is-invalid': submitted && f.fiche_programme.errors }"
      >
      </textarea>
      @if (submitted && f.fiche_programme.errors) {
      <div class="invalid-feedback">
        @if (f.fiche_programme.errors.required) {
        <div>Ce champ est obligatoire</div>
        }
      </div>
      }
    </div>

    <!-- Champ Statut -->
    <div class="form-group col-sm-12">
  <label class="form-label" for="statut">Statut</label>
  <select
    id="statut"
    class="form-control"
    formControlName="statut"
    [ngClass]="{ 'is-invalid': submitted && f.statut.errors }"
  >
    <option value="">-- Sélectionnez le statut --</option>
    <option value="Ouvert">Ouvert</option>
    <option value="En cours">En cours</option>
    <option value="Clôturée">Clôturée</option>
  </select>
  <div *ngIf="submitted && f.statut.errors" class="invalid-feedback">
    <div *ngIf="f.statut.errors.required">Ce champ est obligatoire</div>
  </div>
</div>
    <!-- Champ Etat -->
    <!-- <div class="form-group col-sm-12">
              <label class="form-label" for="etat">Etat</label>
              <input id="etat" class="form-control"
                     type="number"
                     formControlName="etat"
                     placeholder="Etat"
                     [ngClass]="{ 'is-invalid': submitted && f.etat.errors }"/>
              @if (submitted && f.etat.errors) {
                <div class="invalid-feedback">
                  @if (f.etat.errors.required) {
                    <div>Ce champ est obligatoire</div>
                  }
                </div>
              }
            </div> -->

    <!-- Champ Created At -->
    <!-- <div class="form-group col-sm-12">
              <label class="form-label" for="created_at">Created At</label>
              <input id="created_at" class="form-control"
                     type="text"
                     formControlName="created_at"
                     placeholder="Created At"
                     [ngClass]="{ 'is-invalid': submitted && f.created_at.errors }"/>
              @if (submitted && f.created_at.errors) {
                <div class="invalid-feedback">
                  @if (f.created_at.errors.required) {
                    <div>Ce champ est obligatoire</div>
                  }
                </div>
              }
            </div> -->

    <!-- Champ Updated At -->
    <!-- <div class="form-group col-sm-12">
              <label class="form-label" for="updated_at">Updated At</label>
              <input id="updated_at" class="form-control"
                     type="text"
                     formControlName="updated_at"
                     placeholder="Updated At"
                     [ngClass]="{ 'is-invalid': submitted && f.updated_at.errors }"/>
              @if (submitted && f.updated_at.errors) {
                <div class="invalid-feedback">
                  @if (f.updated_at.errors.required) {
                    <div>Ce champ est obligatoire</div>
                  }
                </div>
              }
            </div> -->
  </form>
</div>
<div class="modal-footer">
  <button
    type="button"
    class="btn btn-primary m-2"
    [disabled]="loading_add_formation || loading_get_details_add_formation_form"
    (click)="form_add_formation.ngSubmit.emit()"
  >
    {{ loading_add_formation ? "En cours ..." : "Valider" }}
  </button>
  <button
    type="button"
    class="btn btn-outline-danger"
    (click)="activeModal.close()"
  >
    Fermer
  </button>
</div>
