<div class="modal-header" data-bs-theme="ligth">
        <h1 class="modal-title fs-5">Modifier inscription</h1>
        <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.close()"></button>
    </div>
    <div class="modal-body">
      <form [formGroup]="reactiveForm_edit_inscription" (ngSubmit)="onSubmit_edit_inscription()" #form_edit_inscription="ngForm" class="row">

<!-- Erreur : La clé étrangère id_formation de la table inscription n'est pas référencée -->
<!-- Erreur : La clé étrangère id_utilisateur de la table inscription n'est pas référencée -->

            <!-- Champ Date Inscription -->
            <div class="form-group col-sm-12">
              <label class="form-label" for="date_inscription">Date Inscription</label>
              <input id="date_inscription" class="form-control"
                     type="text"
                     formControlName="date_inscription"
                     placeholder="Date Inscription"
                     [ngClass]="{ 'is-invalid': submitted && f.date_inscription.errors }"/>
              @if (submitted && f.date_inscription.errors) {
                <div class="invalid-feedback">
                  @if (f.date_inscription.errors.required) {
                    <div>Ce champ est obligatoire</div>
                  }
                </div>
              }
            </div>

            <!-- Champ Statut -->
           <div class="form-group col-sm-12">
  <label class="form-label" for="statut">Statut</label>
  <select
    id="statut"
    class="form-control"
    formControlName="statut"
    [ngClass]="{ 'is-invalid': submitted && f.statut.errors }"
  >
    <option value="">-- Sélectionnez le statut --</option>
    <option value="En attente">En attente</option>
    <option value="Accepté">Accepté</option>
    <option value="Refusé">Refusé</option>
  </select>
  <div *ngIf="submitted && f.statut.errors" class="invalid-feedback">
    <div *ngIf="f.statut.errors.required">Ce champ est obligatoire</div>
  </div>
</div>

            <!-- Champ Etat -->
            <div class="form-group col-sm-12">
              <label class="form-label" for="etat">Etat</label>
              <input id="etat" class="form-control"
                     type="text"
                     formControlName="etat"
                     placeholder="Etat"
                     [ngClass]="{ 'is-invalid': submitted && f.etat.errors }"/>
              @if (submitted && f.etat.errors) {
                <div class="invalid-feedback">
                  @if (f.etat.errors.required) {
                    <div>Ce champ est obligatoire</div>
                  }
                </div>
              }
            </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary m-2" [disabled]="loading_edit_inscription ||
      loading_get_details_edit_inscription_form" (click)="form_edit_inscription.ngSubmit.emit()">
          {{ loading_edit_inscription ? "En cours ..." : "Valider" }}
      </button>
      <button type="button" class="btn btn-outline-danger" (click)="activeModal.close()">Fermer</button>
    </div>
